.contenthowto h2{
    color: white;
    font-family: Manrope;
    font-weight: 800;
    padding: 1em;
    position: absolute;

    transform: translate(-400px,50px)
}
.contenthowto h1{
    color: white;
    font-family: Manrope;
    font-weight: 800;
    padding: 1em;
    position: absolute;

    transform: translate(-110px,-20px)
}