@media screen and (min-width: 480px){
.panadol h1{
    color: white;
    font-family: Manrope;
    font-weight: 800;
    padding: 1em;
    position: absolute;


}
h2.one{
    color: white;
    font-family: Manrope;
    font-weight: 800;
    padding: 1em;
    position: absolute;
    max-width: 800px;


}

h2.two{
    color: white;
    font-family: Manrope;
    font-weight: 800;
    padding: 1em;
    position: absolute;
    max-width: 800px;

}

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transform: translate(-500px,70px);

}

.images img {
    flex-basis: 33%;
    padding: 2px;
    max-height: 300px;

}
}
@media screen and (max-width: 480px) {
    .panadol h1{
        color: white;
        font-family: Manrope;
        font-weight: 800;
        padding: 1em;
        position: absolute;
        transform: translate(0px,-30px);
    
    
    }
    h2.one{
        color: white;
        font-family: Manrope;
        font-weight: 800;
        padding: 1em;
        position: absolute;
        max-width: 300px;
        transform: translate(0px,400px);
    
    
    }
    
    h2.two{
        color: white;
        font-family: Manrope;
        font-weight: 800;
        padding: 1em;
        position: absolute;
        max-width: 300px;
        transform: translate(0px,1000px);
    
    }

    .images {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        transform: translate(0px,65px);
    
    }
    
    .images img {
        flex-basis: 33%;
        padding: 2px;
        max-height: 200px;
    
    }
    


}